{% sw_extends '@Storefront/storefront/component/product/card/action.html.twig' %}

{% block component_product_box_action_inner %}
    {% set productEsd = product.extensions.esd %}

    {% if productEsd is null or (productEsd and (not productEsd.hasSerial or productEsd.serial is null)) %}
        {{ parent() }}
    {% else %}
        {% set totalSerialAvailable = productEsd.serial|filter(item => item.esdOrder is null)|length %}

        {% if productEsd.serial|length <= 0 or totalSerialAvailable > 0 %}
            {{ parent() }}
        {% else %}
            {% block component_product_box_action_soldout_detail %}
                <div class="product-action">
                    <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}"
                       class="btn btn-block btn-light"
                       title="{{ "listing.boxProductDetails"|trans|striptags }}">
                        {{ "listing.boxProductDetails"|trans|sw_sanitize }}
                    </a>
                </div>
            {% endblock %}
        {% endif %}
    {% endif %}
{% endblock %}
