<div style="font-family:arial; font-size:12px;">
    <br/>
    <p>Hallo {{order.orderCustomer.firstName}},</p>

    vielen Dank für deine Bestellung.<br/>
    Nachstehend findest du die Details zu deinen digitalen Seriennummer mit der Bestellnummer {{order.orderNumber}}.<br/>
    <br/>

    <table width="80%" border="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">
        <tr>
            <td bgcolor="#F7F7F2" style="border-bottom:1px solid #cccccc;"><strong>Pos.</strong></td>
            <td bgcolor="#F7F7F2" style="border-bottom:1px solid #cccccc;"><strong>Name</strong></td>
            <td bgcolor="#F7F7F2" style="border-bottom:1px solid #cccccc;"><strong>Ordnungsnummer</strong></td>
        </tr>

        {% for esdSerial in esdData.esdSerials %}
            <tr>
                <td style="border-bottom:1px solid #cccccc;">{{ loop.index }} </td>
                <td style="border-bottom:1px solid #cccccc;">
                    {{ esdSerial.productName|u.wordwrap(80) }}
                </td>
                <td style="border-bottom:1px solid #cccccc;">{{ esdSerial.serial }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
