<div style="font-family:arial; font-size:12px;">
    <br/>
    <p>Dear {{order.orderCustomer.firstName}},</p>

    Thank you for your order.<br/>
    Please find the details of your download product of order {{order.orderNumber}}.<br/>
    <br/>

    <table width="80%" border="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">
        <tr>
            <td bgcolor="#F7F7F2" style="border-bottom:1px solid #cccccc;"><strong>Pos.</strong></td>
            <td bgcolor="#F7F7F2" style="border-bottom:1px solid #cccccc;"><strong>Name</strong></td>
            <td bgcolor="#F7F7F2" style="border-bottom:1px solid #cccccc;"><strong>File size</strong></td>
            <td bgcolor="#F7F7F2" style="border-bottom:1px solid #cccccc;"><strong>Download</strong></td>
        </tr>

        {% set pos = 0 %}
        {% for lineItem in order.lineItems %}
            {% if lineItem.id in esdOrderListIds|keys %}
                {% set esdOrderIds = esdOrderListIds[lineItem.id] %}
                {% for esdOrderId in esdOrderIds %}
                    {% set pos = pos + 1 %}
                    <tr>
                        <td style="border-bottom:1px solid #cccccc;">{{ pos }}</td>
                        <td style="border-bottom:1px solid #cccccc;">
                            {{ lineItem.label|u.wordwrap(80) }}
                        </td>
                        <td style="border-bottom:1px solid #cccccc;">{{ esdFiles[lineItem.productId] }}</td>
                        <td style="border-bottom:1px solid #cccccc;">
                            {% if order.orderCustomer.customer.guest %}
                                <a href="{{ rawUrl('frontend.sas.esd.download.guest', {esdOrderId: esdOrderId}, salesChannel.domains|first.url) }}">
                                    Download
                                </a>
                            {% else %}
                                <a href="{{ url('frontend.sas.esd.download', {esdOrderId: esdOrderId}) }}">
                                    Download
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </table>
</div>
